.is-disabled, [disabled] {
  cursor: not-allowed;
  opacity: .75;

  + label,
  + label {
    pointer-events: none;
  }

}

.is-clean {
  @include is-clean;
  list-style: none;
}

.is-hidden {
  @include move-off-screen;
}
