//  ----------------------------------------
//  Typography Library
//  ----------------------------------------

$base-font-size:                16px;
$base-font-family:              'Open Sans', sans-serif;
$base-line-height:              1.3;



// pixel valuations are based off 16px base-font-size
$h1-font-size:                  3em;       // 48px
$h2-font-size:                  2.5em;     // 40px
$h3-font-size:                  2em;       // 32px
$h4-font-size:                  1.5em;     // 24px
$h5-font-size:                  1.25em;    // 20px
$h6-font-size:                  1.125em;   // 18px

$base-font-size:                1em;       // 16px
$small-font-size:               .75em;     // 12px
$tiny-font-size:                .625em;    // 10px



// Table Headings/Captions
$table-heading--col:            $base-font-size;
$table-heading--row:            $small-font-size;


// Breakpoints

$bp-wide: 68.750em; // 1100px
$bp-large: 59.375em; // 950px
$bp-medium: 46.875em; // 750px
$bp-small: 31.250em; // 500px


$page-width: 1200px;

//  ----------------------------------------
//  Colors
//  ----------------------------------------
$lighter-gray:  #fdfdfd;
$light-gray:    #d6d6d6;
$dark-gray:     #595959;

$light-blue:    #3c6fb4;
$blue:          #3663a1;
$dark-blue:     #1b3251;


$c-body:                 $dark-gray;  // body color
$c-body-background:      $lighter-gray; // html/body background color

$c-links:                $dark-gray;  // a color
$c-links-link:           $light-blue; // a:link color
$c-links-visited:        $blue;  // a:visited color
$c-links-hover:          $dark-blue;  // a:hover color
$c-links-focus:          $dark-blue;  // a:focus color
$c-links-focus-outline:  $light-blue;  // a:focus color


// Vars
$has-background: true !default;
